<!DOCTYPE html>
<html ng-app="flickrApp">

  <head>
    <meta charset="utf-8" />
    <title>Photo Search App</title>
    <!-- <script>document.write('<base href="' + document.location + '" />');</script> -->
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-resource@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="FlickrCtrl">
    <section class="row" ng-app="formFlickr">
      <h1>Search Images with Flickr API</h1>
      <article class="col-md-push-1 col-md-11">
        <div class="app-container">
          <fieldset class="app-fieldset">
            <legend class="app-legend">
              AngularJS Version
            </legend>
    
            <form name="form" class="validate-form">
              <input id="searchCriteria"
                     ng-model="searchCriteria.tags"
                     ng-target="form.tags"
                     name=" tags"
                     type="text"
                     title="required input"
                     placeholder="Enter keywords (tags) separated by a comma."
                     required />
              <br />
              <button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">
                Search Flicker
              </button>
              <input type="button" class="btn btn-default" ng-click="resetForm(form);" value="Reset" />
            </form>
          </fieldset>
    
        </div>
        <div ng-if="images" class="app-container">
          <h3 ng-show="images.items.length > 0">
            {{images.title}}
          </h3>
          <figure class="added-fig" ng-repeat="image in images.items track by $index">
            <!-- thumbnail image -->
            <a ng-click="OpenImg(image)">
              <img id="img{{$index}}" class="added-img" src="{{image.media.m}}" />
            </a>
            <!-- full image -->
            <div id="myModal" class="modal">
              <a ng-click="closeHeaderPopup()"><span class="close">&times;</span></a>
              <img class="modal-content" id="modlImg">
              <div id="caption">
                <h4>{{image.title}}</h4>
                <b>Published by: </b>{{image.author}} <b>On </b>{{image.date_taken | date}}
              </div>
            </div>
          </figure>
        </div>
    </section>
  </body>

</html>
